body{
    background-image: url("../img/cenario.jpg");
    background-repeat: no-repeat;
}

.vidraria{
    width: 120px;
    height: 120px;
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    position: absolute;
}

.titulo{
    position: absolute;
    bottom: -15px;
}

.vidraria1{
    margin-top: 280px;
    margin-left: 70px;
}

.vidraria2{
    margin-top: 113px;
    margin-left: 330px;
}

.vidraria3{
    margin-top: 113px;
    margin-left: 896px;
}

.vidraria4{
    margin-top: 280px;
    margin-left: 230px;
}

.vidraria5{
    margin-top: 280px;
    margin-left: 995px;
}

.vidraria6{
    margin-top: 280px;
    margin-left: 1150px;
}

#vidrarias{
    margin-top: 490px;
    margin-left: 362px;
    width: 620px;
}